|||
|---|---|
|Title|nwshared|
|Author|numbworks|
|Version|1.8.0|
||Please check [docs/docs-nwshared.md](../docs/docs-nwshared.md) before proceeding.|

#### Demo

In [5]:
import pandas as pd
from pandas import DataFrame
from nwshared import Displayer

data : dict = { 'Category': ["Food", "Bills"], 'Price': [250.50, 432.78] }
df : DataFrame = pd.DataFrame(data)

Displayer().display(df = df, hide_index = True, formatters = { "Price" : "{:.2f}" })

In [6]:
Displayer().display(df = df, hide_index = False, formatters = { "Price" : "{:.2f}" })

In [7]:
Displayer().display(df = df, hide_index = False)